@import url('https://fonts.googleapis.com/css?family=Nunito|Source+Sans+Pro&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Nunito', sans-serif;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body{
   background-color: #fff;
   font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.wrapper{
  display: flex;
  position: relative;
}
.slid{
    background: #4e73df ;
    min-height: 100vh;
}
.slid img{
    display:block;
    margin:auto;
    padding-top: 35px;
}
.sidebar{
  width: 224px!important;
  background: #4e73df ;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  
}

.sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.slid ul li{
  position: relative;
  padding: 1rem;
}    

.slid ul li a{
    text-align: left;
    padding: 1rem;
    padding-bottom: 0px;
    padding-top: 0px;
    color: #fff;
    display: block;
    text-decoration: none;
}

.slid ul li a .fas{
  width: 35px;
}

 
.sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.navTop{
    flex-direction: row;
    margin-left: auto!important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
}

.header ul li span{
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    padding: .75rem 1rem;
}

.separador{
    width: 0;
    border-right: 1px solid #b1b2b8;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btnAcciones {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-user {
    font-size: .9rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
}

.wrapper .main_content{

  flex: 1 0 auto;
}

.wrapper .main_content .header{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    flex-flow: row nowrap;
    justify-content: flex-start;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    margin-bottom: 1.5rem!important;
    height: 4.375rem;
}

.wrapper .main_content .info{
  margin: 50px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info .title-container{
  margin-bottom: 20px;
}

.buton-container .btn{
  margin-bottom: 20px;
}

footer.sticky-footer {
    padding: 2rem 0;
    flex-shrink: 0;
    background-color: #fff!important;
    display: block;
}
.container, .container-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: auto!important;
    margin-top: auto!important;
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
footer.sticky-footer .copyright {
    line-height: 1;
    font-size: .8rem;
    text-align: center!important;
    margin-bottom: auto!important;
    margin-top: auto!important;
}